/*=============
login screen
============*/

.log{
  border: 2px solid;
  height: 200px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  padding-left: 30px;
  background-image: url("Images/Loginscreen.png");
  background-size: cover;
  border-radius: 10px
}

/*=============
Gameboard
============*/

.chatbox{
  height: 83%;
  width: 10%;
  min-width: 283px;
  border: 2px solid;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 30px;
  float: right;
}

.write{
  height: 4%;
  max-height: 30px;
  width: 96%;
  border: 2px solid;
  border-radius: 5px;
  margin-left: 3.66667px;
  margin-top: 5px;
  margin-bottom: 8px;
}

.written{
  height: 85%;
  width: 96%;
  border: 2px solid;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background-size: cover;
  scroll-behavior: smooth;
  overflow: scroll;
}

.online{
  height: 3%;
  width: 96%;
  margin-left: 3.66667px;
  border: 2px solid;
  border-radius: 5px;
  margin-top: 5px;
}

.onlinePoint{
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: green;
}

.onlinePlayer{
  display: none;
  border: 2px solid;
  border-radius: 5px;
  width: auto;
}

.send{
  margin-left: 3.66667px;
  border: 2px solid;
  border-radius: 5px;
}

.Logout{
  height: 50px;
  width: 100%;
  margin-top: 10px;
}

/*=============
Index
============*/

.room{
  height: 10rem;
  width: 30%;
  margin-right: 20px;
  margin-bottom: 2rem;
  border: 2px solid;
  padding: 10px;
}
